.body {
    font-size: 20px;
    font-family: Cambria, Georgia, serif;
}

h1, h3 {
    font-family: Cambria, Georgia, serif;
}

.contenedor {
    width:800px;
    margin-left: auto ;
    margin-right: auto ;
}

.contenedorMenu {
    background-color:#99ff66;
    float:left;
    width:200px;
}

.contenedorContenido {
    background-color:#ffff66;
    float:left;
    width:600px;
}

.menu {
    padding: 15px;
}

.contenido {
    padding: 15px;
}